<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardDiskTotalSize</key>
	<integer>5308416</integer>
	<key>proxyAppUUID</key>
	<string>56 4d fa 4b 4d 24 81 65-7f 3e 17 1f 90 32 9f 30</string>
	<key>reclaimableSize</key>
	<integer>0</integer>
	<key>scaledHighResolution</key>
	<integer>3</integer>
	<key>singleWindowFrame</key>
	<string>{{1075, 478}, {1280, 768}}</string>
	<key>singleWindowIsZoomed</key>
	<false/>
	<key>snapshotSizes</key>
	<dict/>
	<key>snapshotVMDKSizes</key>
	<dict/>
	<key>snapshotsSize</key>
	<integer>0</integer>
	<key>snapshotsVMDKSize</key>
	<integer>0</integer>
</dict>
</plist>
